[submodule "external/uni-algo"]
	path = external/uni-algo
	url = https://github.com/uni-algo/uni-algo.git
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
